.navbar-nav .nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; /* Adjust the padding as needed */
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Thickness of the underline */
    left: 0;
    bottom: 0;
    background-color: #000; /* Color of the underline */
    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}
